{% trans_default_domain 'contao_svg_icon_picker' %}

<div class="svg-icon-picker" id="{{ id }}" data-controller="svg-icon-picker">
    <input type="hidden" name="{{ name }}" id="ctrl_{{ id }}" value="{{ value }}"/>
    <div class="selected-icon">
        {% if value %}
            {{ svg_icon(value) }}
        {% endif %}
    </div>
    <div class="edit-button">
        <button type="button" class="tl_submit" data-action="svg-icon-picker#togglePicker">
            {{ 'edit'|trans }}
        </button>
    </div>
    <div class="picker-container">
        <div class="header">
            <div class="search">
                <label for="{{ id }}_search">{{ 'search'|trans }}</label>
                <input type="text" id="{{ id }}_search" class="tl_text" data-action="keyup->svg-icon-picker#filterIcons"/>
            </div>
            <button type="button" class="close" data-action="svg-icon-picker#togglePicker" aria-label="{{ 'close'|trans }}">
                ✕
            </button>
        </div>
        <turbo-frame id="{{ frameId }}" src="{{ frameUrl }}" loading="lazy">
            <div class="loading-spinner"></div>
        </turbo-frame>
    </div>
</div>
