{% trans_default_domain 'contao_svg_icon_picker' %}

<div class="svg-icon-picker" id="{{ id }}" data-controller="svg-icon-picker">
    <input type="hidden" name="{{ name }}" id="ctrl_{{ id }}" value="{{ value }}"/>
    <div class="selected-icon">
        {% if value %}
            {{ svg_icon(value) }}
        {% endif %}
    </div>
    <div class="edit-button">
        <button type="button" class="tl_submit" data-action="svg-icon-picker#togglePicker">
            {{ 'edit'|trans }}
        </button>
    </div>
    {% cache 'svg_icon_picker_' ~ sourceDirectory|default|replace({'/': '_'}) ttl(60) %}
        <div class="picker-container">
            <div class="header">
                <div class="search">
                    <label for="{{ id }}_search">{{ 'search'|trans }}</label>
                    <input type="text" id="{{ id }}_search" class="tl_text" data-action="keyup->svg-icon-picker#filterIcons"/>
                </div>
                <button type="button" class="close" data-action="svg-icon-picker#togglePicker" aria-label="{{ 'close'|trans }}">
                    ✕
                </button>
            </div>
            <div class="icon-selector">
                <div class="icon-item" data-value="" data-icon-name="" data-action="click->svg-icon-picker#reset"></div>
                {% for key, icon in icons %}
                    <div class="icon-item" data-value="{{ icon.path }}" data-icon-name="{{ key }}" data-search-terms="{{ icon.searchterms|default([])|json_encode }}" data-action="click->svg-icon-picker#selectIcon">
                        <div class="icon">
                            {{ icon.content|raw }}
                        </div>
                        <span class="label">{{ icon.label|default(key) }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endcache %}
</div>
